[Unit]
Description=docker image push service
[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/mnt/scripts/server
#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/bin/sh -c  'python3 imagepusher.py'
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=3
[Install]
WantedBy=multi-user.target